<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque – Liste des livres</title>
</head>

    <div style="position: absolute; top: 20px; right: 20px; text-align: right;">
    <p>Bonjour <strong>{{ session.login }}</strong></p>

    <a href="{{ url_for('logout') }}">🚪 Déconnexion</a>

     <form action="{{ url_for('mes_emprunts') }}" method="get">
        <button type="submit">📚 Mes emprunts</button>
    </form>
</div>

    
<body>

<h2>Rechercher un livre</h2>

<form method="get" action="{{ url_for('livres') }}">
    <label for="q">Titre ou auteur :</label><br>
    <input type="text" id="q" name="q" value="{{ q | default('') }}">
    <input type="submit" value="Rechercher">
</form>

<p><a href="{{ url_for('ajouter_livre') }}">➕ Ajouter un livre</a></p>

<br>

<h2>Liste des livres</h2>

{% if livres %}
<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>

    {% for livre in livres %}
    <tr>
        <td>{{ livre.id }}</td>
        <td>{{ livre.titre }}</td>
        <td>{{ livre.auteur }}</td>
        <td>{{ livre.stock }}</td>
        <td>
            {% if livre.stock > 0 %}
                <form action="{{ url_for('emprunter_livre') }}" method="post" style="margin:0;">
                    <input type="hidden" name="livre_id" value="{{ livre.id }}">
                    <input type="hidden" name="client_id" value="1">
                    <input type="submit" value="Emprunter">
                </form>
            {% else %}
                ❌ Indisponible
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Aucun livre trouvé.</p>
{% endif %}

</body>
</html>
